h1{
    text-align: center;
    background: linear-gradient(to top, #4cf100, rgb(49, 222, 228));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(180deg, #0ac33e 0%, #078399 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    position: sticky;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a6c6f;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #275a6b;
}