h1{
    text-align: center;
    color: navy;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}
.container{
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f8ff;
    text-align: left;
}
body{
    background: linear-gradient( to right, #5e8c8d, #3bb0b4) repeat;
}