h1{
    text-align: center;
    background: linear-gradient(to top, #4cf100, rgb(49, 222, 228));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}
.grid-container{
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #c4cad0;
    text-align: left;
}
body{
    background: linear-gradient( to top, #0ac33e, #078399) repeat;
}
.card{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(67, 41, 132, 0.1);
    padding: 15px;
    margin: 10px 0;
    background-size: 25%;
    background-position: right;
    background-repeat: no-repeat;
}
.card:hover{
    box-shadow: 0 0 10px #1594d8, /* Inner glow */
              0 0 20px #48abe0, /* Outer glow */
              0 0 40px #609cb9;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
 .Images{
    border-radius: 5px;
    float: right;
    width:150px;
    height:150px;
    background-position: right;
    margin-left: 15px;
}
ul {
    position: sticky;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a6c6f;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #275a6b;
}